/* 0. general */
/* 1. header */
/* 2. slider */
/* 3. function section */
/* 4. download section */
/* 5. news */
/* 6. contact */
/* 7. footer */


/* 0. general */


*,
*::before,
*::after {
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body,
body::before,
body::after {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

ul,
ul::before,
ul::after {
	padding: 0;
	margin: 0;
}

.max-layout-width {
	max-width: 1440px;
}

.max-content-width {
	max-width: 1170px;
}

.max-layout-width,
.max-content-width{
	width: 100%;
	margin: 0 auto;
}

.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.button {
	display: inline-block;
	padding: 13px 37px;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	transition: .6s ease;
}

/* 1. header */ 

/*top section*/


.header__wrapper::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../img/header/header-general.png) 0% 50% no-repeat #0481ed;
	background-size: auto 100%;
	opacity: .999;
	z-index: -1;
}

.header__wrapper {
	position: relative;
	background: url(../img/header/lowest-wave.png) 0% 109% no-repeat,
				url(../img/header/mid-wave.png) 70% 111% no-repeat,
				url(../img/header/largest-wave.png) 10% 101% no-repeat;
	background-size: 105%, 105%, 105%;
}

.header__top-section {
	align-items: center;
	justify-content: space-between;
	font-size: 0.93em;
}

.header__top-section__wrapper {
	background: #fff;
	justify-content: center;
	vertical-align: center;
}

.nav-menu__accordeon-button {
	display: none;
	text-align: left;
	background: #fff;
	position: absolute;
	top: 12px;
	left: 41%;
	color: #2c67b1;
}

.header__nav-menu__wrapper {
	margin-left: auto;
	flex-basis: 530px;
	justify-content: flex-end;
}

.nav-menu {
	margin-right: 30px;
	justify-content: space-between;
	flex-basis: 530px;
}

.nav-menu__item {
	padding: 35px 0;
}

.nav-menu__item-link {
	display: block;
	padding: 0 5px;
	margin: 0;
	font-size: 15px;
	line-height: 20px;
	color: #3c3c3c;
	position: relative;
}

.nav-menu__item-link:hover {
	color: #42b549;
}


.header__button {
	background: #2c67b1;
	box-shadow: 2px 4px 24px -1px rgba(44,103,177,1);
}

.header__button:hover {
	background: #f4213a;
	box-shadow: 2px 4px 24px -1px rgba(244,33,58,1);
}


/* header-about section*/

.header__about {
	align-items: center;
	justify-content: space-around;
	padding: 125px 0 177px 0;
	text-transform: uppercase;
	color: #fefefe;
}

.about__list {
	/*flex-grow: 1;*/
	text-align: center;
	font-style: italic;
	flex-basis: 300px;
}

/*about- points*/

.about__point {
	font-size: 1.250em;
	position: relative;
}

.about__point:nth-child(2) {
	margin: 105px 0 95px 0;
}

.first-point::before,
.second-point::before,
.third-point::before {
	content: '';
	position: absolute;
	display: block;
	width: 35px;
	height: 35px;
	top: 0px;
	left: -35px;
}

.first-point::before {
	background: url(../img/header/icon-1.png) center center no-repeat;
	top: -10px;
}

.second-point::before {
	background: url(../img/header/icon-2.png) center center no-repeat;
}

.third-point::before {
	background: url(../img/header/icon-3.png) center center no-repeat;
}

.about__logo {
	text-align: center;
	/*flex-grow: 1;*/
}

.about__logo__abbrev,
.about__logo__name,
.about__logo__description {
	display: block;
}

.about__logo__abbrev {
	font-size: 5em;
	font-weight: bolder;
	/*line-height: 0;*/
	margin: 0;
	padding: 0;
}

.about__logo__name {
	font-size: 1em;
	color: #172592;
	background: #fff;
	padding: 15px 40px 15px 10px;
	border-radius: 15px 0 15px 0;
	margin: 10px 0;
	display: inline-block;
}

.about__logo__description {
	font-size: 1.375em;
	font-weight: bold;
}



/* 2. slider */



.slider-wrapper {
	background: #fff;
}

.slider {
	justify-content: space-between;
}

.slider__image {
	width: 100%;
	height: auto;
	flex-basis: 705px;
	background-size: cover;
}

.slide__content {
	flex-basis: 470px;
	padding: 60px 0 150px 0;
}

.slide__content__overhead {
	color: #3c3c3c;
	font-size: 1.56em;
	text-transform: uppercase;
}

.slide__content__overhead span {
	font-weight: bold;
	text-transform: none;
}

.slide__content__title {
	color: #3c3c3c;
	font-size: 3.43em;
	text-transform: uppercase;
	line-height: .88em;
	margin: 20px 0 27px 0;
}

.slide__content__text {
	font-size: 1em;
	color: #808080;
}

/*first slide*/

.slider__first-slide {}

.first-slide__image {
	background: url(../img/slider/first-slide/f-img.png) center right no-repeat;
	margin-right: 15px;
}

.first-slide__content {
	text-align: right;
	margin-right: 135px;
}

.first-slide__content__text {
	margin-bottom: 48px;
}

.first-slide__slider__button {
	background: #f4213a;
	box-shadow: 2px 4px 24px -1px rgba(244,33,58,1);
}

.first-slide__slider__button:hover {
	background: #2c67b1;
	box-shadow: 2px 4px 24px -1px rgba(44,103,177,1);
}

.second-slide__image {
	background: url(../img/slider/last-slide/l-img.png) center left no-repeat;
	order: 1;
	margin-left: 15px;
}

.second-slide__content {
	text-align: left;
	margin-left: 135px;
}

.second-slide__content__text {
	margin-bottom: 48px;
}

.second-slide__slider__button {
	background: #2c67b1;
	box-shadow: 2px 4px 24px -1px rgba(44,103,177,1);
}

.second-slide__slider__button:hover {
	background: #f4213a;
	box-shadow: 2px 4px 24px -1px rgba(244,33,58,1);
}

/*end second slide*/


/* 3. function section */

.function-section__wrapper {
	background: #faf7f7 url(../img/function-section/bg-img.png) right 60% no-repeat;
	background-size: auto 40%;
}

.function-section {
	padding: 90px 0;
}

.functions-item {
	display: block;
	max-width: 470px;
	width: 100%;
	padding: 35px 45px 35px 70px;
}

.functions-item__title {
	position: relative;
	font-size: 1em;
	color: #3c3c3c;
	font-weight: normal;
}

.functions-item__title span {
	font-weight: bold;
}

.first-title::before,
.second-title::before,
.third-title::before {
	content: '';
	width: 29px;
	height: 29px;
	display: block;
	position: absolute;
	background-size: 100%;
	top: -5px;
	left: -45px;
}

.first-title::before {
	background: url(../img/function-section/icon-1.png) center center no-repeat;
}

.second-title::before {
	background: url(../img/function-section/icon-2.png) center center no-repeat;
}

.third-title::before {
	background: url(../img/function-section/icon-3.png) center center no-repeat;
}

.functions-item__text {
	font-size: 0.875em;
	color: #7f7f7f;
}

/* 4. download section */

.download-section__wrapper {
	position: relative;
	background: url(../img/download-section/img.png) 0% center no-repeat;
	background-size: auto 101%;
	color: #fff;
}

.download-section__wrapper::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: url(../img/download-section/background.jpg) 100% center no-repeat;
}

.download-section {
	justify-content: flex-end;
}

.download-section__get-started {
	flex-basis: 430px;
	margin: 220px 0;
	flex-direction: column;
}

.get-started__title {
	font-size: 2.188em;
	font-weight: normal;
}

.get-started__title span {
	font-weight: bold;
}

.get-started__text {
	font-size: 1em;
	line-height: 1.87em;
	color: #e5e7fc;
}

.get-started__buttons {
	justify-content: space-between;
}

.get-started__outer-link {
	height: 65px;
	width: 200px;
	border-radius: 10px;
	background-size: 100%;
}

.get-started__outer-link:first-child {
	background: url(../img/download-section/gplay.png) center center no-repeat;
}

.get-started__outer-link:last-child {
	background: url(../img/download-section/istore.png) center center no-repeat;	
}

/* 5. news */

.news {
	justify-content: space-between;
	padding: 90px 0;
	position: relative;
}

.news::after {
	content: '';
	border: 25px solid transparent;
	position: absolute;
	border-bottom: 40px solid #fff;
	border-right: 40px solid #fff;
	bottom: -10px;
	right: calc(50% - 40px);
	transform: rotate(45deg);
	z-index: 1;
}

.news-card {
	padding: 6px;
	position: relative;
	flex-basis: 370px;
	box-shadow: 0px 5px 15px 1px rgba(178,178,178,0.92);
	transition: transform .7s ease-in;
}

.news-card:hover {
	transform: scale(1.018);
	transition: transform .6s ease-out;
}

.news-card__title,
.news-card__text,
.news-card__footer {
	padding: 0 15px;
}

.news-card__image {
	display: block;
	width: 100%;
	height: auto;
}

.news-card__title {
	margin: 35px 0 17px 0;
	color: #3c3c3c;
	font-size: 1em;
}

.news-card__text {
	margin-bottom: 50px;
	font-size: 0.875em;
	color: #7f7f7f;
}

.news-card__footer {
	position: absolute;
	left: 0;
	right: 15px;
	bottom: 15px;
	justify-content: space-between;
	font-size: 0.75em;
	color: #a6a6a6;
}

/* 6. contact */

.contact {
	padding: 85px 0 70px 0;
	background: url(../img/contact/background.jpg) center center no-repeat;
	background-size: cover;
	color: #fff;
}

.contact-form {
	display: block;
	max-width: 630px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 0;
}

.contact__title,
.contact__text {
	text-align: center;
}

.contact__title {
	font-weight: normal;
	font-size: 2.188em;
}

.contact__title span {
	font-weight: bold;
}

.contact__text {
	padding: 0;
	margin: 28px 0 63px 0;
	font-size: 1em;
	color: #cacacc;
}

.contact__userdata-wrapper {
	justify-content: space-between;
}

.contact__username-label,
.contact__email-label {
	flex-basis: 310px;
}

.contact__username-input,
.contact__email-input,
.contact__message-input,
.contact__message-input {
	width: 100%;
	padding: 18px 30px;
	font-size: 0.93em;
}

.contact__message-input {
	padding: 30px;
	margin: 20px 0 30px 0;
}

.contact__username-input,
.contact__message-input,
.contact__email-input {
	border: 1px none;
	border-radius: 7px;
}

.contact-button__label {
	display: block;
	max-width: 112px;
	height: 100%;
	text-align: center;
	margin: 0 auto;
}

.contact-button {
	background: #17152b;
	border: 1px solid #fff;
}

.contact .contact-button__label {
	text-align: center;
}

.contact-button:hover {
	background: #f4213a;
}

/* 7. footer */

.footer__wrapper {
	background: #42b549;
}

.footer {
	padding: 90px 0 50px 0;
	justify-content: space-between;
	color: #fff;
}

.footer-contacts {
	flex-basis: 280px;
}

.footer-list__title {
	font-size: 0.938em;
	font-weight: bold;
	margin-bottom: 25px;
}

.footer-list__item {
	padding: 5px 0;
	margin: 0;
}

.footer-list__item a {
	color: #fff;
	font-size: 0.938em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.products__item {
	text-transform: uppercase;
}

.footer-contacts {
	font-size: 0.938em;
}

.footer-contacts__phones,
.footer-contacts__email,
.footer-contacts__adress {
	display: block;
	position: relative;
}

.footer-contacts__email {
	margin: 20px 0;
}

.footer-contacts__phones::before,
.footer-contacts__email::before,
.footer-contacts__adress::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: -25px;
}

.footer-contacts__phones::before {
	background: url(../img/footer/icons.png) center top no-repeat;
	width: 13px;
	height: 15px;
}

.footer-contacts__email::before {
	background: url(../img/footer/icons.png) center center no-repeat;
	width: 15px;
	height: 14px;
}

.footer-contacts__adress::before {
	background: url(../img/footer/icons.png) left bottom no-repeat;
	width: 12px;
	height: 16px;
}


/*animations*/

.nav_border {
	position: absolute;
	width: 100%;
	border: 2px solid #42b549;
	left: 0;
	right: 0;
	bottom: -5px;
	transition: .6s;	
}

.nav_element {
	color: #42b549;
	transition: .3s;
}

.functions-item__checked {
	background: #fff;
	border-radius: 10px;
	box-shadow: -1px 4px 12px 2px #DBDADA;
	transition: .5s ease;
}